<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/css/hello.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>
<div class="entire">
    <div class="box1">
        <div class="fire">基于Unicode的多模式水印嵌入系统</div>
    </div>
    <div class="box2">
        <a href="index.html" class="a1">
            <div class="code">代码</div>
        </a>
    </div>
    <div class="box3">
        <a href="text.html"  class="a2">
            <div class="text">文本</div>
        </a>
    </div>
</div>
</body>
</html>